<!DOCTYPE html> 
<html> 
<head>
<h1 style="text-align: center; margin-top:50px; font-size:46px; border-style:double; border-color:black">ADD EMPLOYEE</h1>
</head>

<body style="background-color:tan;"> 
  
<form  style="font-size:22px; font-weight:900"> 
  <br>
  Employee ID:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="number"> 
  <br> 
  <br> 
  <br>
  First Name:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="text">
  <br> 
  <br> 
  <br> 
  Last Name:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="text"> 
  <br> 
  <br> 
  <br>
  Address:<br> 
  <textarea style="background-color: rgb(199, 193, 187);" rows="5" cols="50"></textarea> 
  <br>
  <br> 
  <br>
  Date Of Joining:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="date"> 
  <br> 
  <br> 
  <br>
  Bank Name:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="text"> 
  <br> 
  <br> 
  <br>
  Bank Branch:<br> 
  <textarea style="background-color: rgb(199, 193, 187);" rows="2" cols="50"></textarea> 
  <br>
  <br> 
  <br>
  Account Number:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="number"> 
  <br> 
  <br> 
  <br>
  Salary:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="number"> 
  <br> 
  <br> 
  <br>
   Email ID:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="email"> 
  <br> 
  <br> 
  <br>
   Phone Number:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="tel" pattern="[0-9]{10}"> 
  <br> 
  <br> 
  <br>
  Education level:<br> 
  <input style="background-color: rgb(199, 193, 187);" type="text"> 
  <br> 
  <br> 
  <br>
   Job description:<br> 
   <select style="background-color: rgb(199, 193, 187);"> 
   <option>Accountant</option> 
   <option>Assistant Accountant</option> 
   <option>Manager</option> 
   </select> 
   </form>
   <br><br><br>
</body> 
</html> 
  <br> 
  <br> 
  <br>
  <input style="background-color: black;color:azure" type="submit"> 
</form>  
  
</body> 
</html> 